.back-group {
   position: relative;
   &__feature {
      position: absolute;
      z-index: -1;
      &_1 {
         left: 0;
         top: 0;
      }
      &_2 {
         left: 50px;
         bottom: 30px;
      }
      &_3 {
         right: 30px;
         bottom: 200px;
      }
   }
   &__info {
      position: absolute;
      z-index: -1;
      &_1 {
         left: -30px;
         bottom: -30px;
      }
      &_2 {
         top: -40px;
         left: 200px;
      }
      &_3 {
         top: -25px;
         right: -60px;
      }
      @media (max-width: 667px) {
         &_1 {
            right: 0;
            bottom: 0;
         }
         &_2 {
            top: -10px;
            left: -50px;
         }
         &_3 {
            top: -25px;
            right: -60px;
         }
      }
   }
   &__support {
      position: absolute;
      z-index: -1;
      &_1 {
         right: 28%;
         bottom: 0;
      }
      &_2 {
         right: 0;
         top: -30px;
      }
      &_3 {
         left: 27%;
         top: 50px;
      }
      &_4 {
         left: 0;
         bottom: 10px;
      }
      @media (max-width: 667px) {
         &_1 {
            right: 40%;
            top: 0;
         }
         &_2 {
            right: 0;
            top: -30px;
         }
         &_3 {
            left: 0;
            top: -50px;
         }
         &_4 {
            left: 0;
            bottom: 10px;
         }
      }
   }
   &__feature,
   &__info,
   &__support {
      animation: circle 20s infinite linear;
      @media (max-width: 525px) {
         display: none;
      }
   }
}
@keyframes circle {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}
