.btn {
   color: #fff;
   display: inline-block;
   padding: 15px 30px;
   font-family: "Raleway";
   font-weight: 800;
   border-radius: 8px;
   min-width: 150px;
   text-align: center;
   &-red {
      background-color: $red;
   }
   &-blue {
      background-color: $blue;
   }
   @media (max-width: 525px) {
      padding: 15px;
      min-width: 100px;
   }
}
